@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:  local('Roboto Regular'),
    url('/assets/font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:  local('Roboto Medium'),
    url('/assets/font/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:  local('Roboto Bold'),
    url('/assets/font/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Rounded';
    font-style: normal;
    font-weight: 400;
    src:  local('CirceRounded-Regular'),
    url('/assets/font/Circe Rounded/CirceRounded-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Circe Rounded';
    font-style: normal;
    font-weight: 700;
    src:  local('CirceRounded-Bold'),
    url('/assets/font/Circe Rounded/CirceRounded-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Circe Rounded';
    font-style: normal;
    font-weight: 800;
    src:  local('CirceRounded-ExtrBold'),
    url('/assets/font/Circe Rounded/CirceRounded-ExtraBold.otf') format('opentype');
}